//reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//typography & colour

body {
	font-family: $font;

}

h1 {
	font-size: $large-font;
}

h2 {
	font-size: $medium-font;
	font-style: $subheading-style;
}

h3 {
	font-size: $furniture-artwork-title-font;
	font-style: $subheading-style;
}

p, a {
	font-size: $small-font;
}

p {
	line-height: $line-height;
}

.main-navigation a {
	color: black;
	&:hover, &:focus, &:active {
		color: $colour-links;
		border-bottom: 2px solid $colour-links;
	}
}

a {
	color: $colour-links;
	text-decoration: none;

	&:hover, &:focus, &:active {
		border-bottom: 2px solid $colour-links;
	}
}

img a {
	&:hover {
		border-bottom: none;
	}
}

ul {
	list-style: none; 
}

footer {
	background-color: $colour-footer;
}

//layout

.site-content {
	margin-left: $main-side-margins;
	margin-right: $main-side-margins;
	margin-top: $main-top-margins;
	margin-bottom: $main-bottom-margins;
}