label {
	color: $colour-dark;
}

.art {
	width: 300px;
	box-sizing: border-box;
	margin-bottom: 20px;
	background-color: $colour-footer;

	&:hover .overlay {
		opacity: 0.7;
	}

	img {
		width: 300px;
		display: block;
	}

	a {
		display: block;
		&:hover{
			border-bottom: none;
		}
	}
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $colour-dark;
}

.viewproduct {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.artInfo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 300px;
}

.artwork_title {
	padding-left: 5px;
}

.artwork_price {
	padding-right: 5px;
}

.gallery {
	margin: 3rem auto 0;
}

@media only screen and (max-width: 330px) {
   	.art {
   		width: 270px;
   		img {
   			width: 270px;
   		}
   	}

   	.artInfo {
   		width: 270px;
   	}
}