//fonts
$line-height: 1.5;
$font: 'Raleway', sans-serif;
$subheading-style: italic;
$small-font: 16px;
$medium-font: 22px;
$large-font: 24px;
$furniture-artwork-title-font: 18px;

//colours
$colour-links: #76323f;
$colour-footer: #d7cec7;
$colour-dark: #434347;
$colour-light: #f3c8ab;

//margins&padding
$main-side-margins: 5%;
$main-bottom-margins: 50px;
$main-top-margins: 100px;



